{
    "root": true,
    "extends": [
      "next",
      "next/core-web-vitals",
      "airbnb-typescript",
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"]
      }
    ],
    "ignorePatterns": ["**/*.config.js"],
    "plugins": ["react", "@typescript-eslint", "testing-library"],
    "rules": {
      "@typescript-eslint/indent": ["error", 2],
      "@typescript-eslint/no-explicit-any": "error",
      "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
    }
  }